# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# Data files (too large for GitHub)
*.csv
*.npy
Data/
UNSW/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db